# vim: filetype=muttrc

# Mutt
# ---------------------------------------------------------------------

set menu_scroll = yes   # scroll in menus
set sort = threads
set sort_aux = last-date
set strict_threads = yes
set sidebar_visible = yes
set sidebar_width = 25
set to_chars = "? "
set status_format = "/home/emily/.dotfiles/sbin/mail/formats status '%f' '$nm_default_uri?query='|"
set index_format = "%T  %-10@date@  %-40.40F  %s"
index-format-hook date "~d<1d" "%[%H:%M]"
index-format-hook date "~d<2d" "Yesterday"
index-format-hook date "~d<1w" "%[%A]"
index-format-hook date "~d<1m" "%[%a %d]"
index-format-hook date "~d<1y" "%[%d %b]"
index-format-hook date "~A" "%[%d %b %y]

# General Text Colours
color normal default default
color status blue default
color prompt default default
color message brightwhite default
color error brightred default
color tree default default

# Index Text Colors
color index brightdefault default ~N
color index black default ~D
color index default cyan  ~T
color indicator default blue

# Side Bar Colors
color sidebar_divider brightwhite default
color sidebar_highlight default cyan
color sidebar_new brightwhite default


# Email
# ---------------------------------------------------------------------

unset markers
set pager_index_lines = 20  # number of index lines to show
set pager_context = 3   # number of context lines to show
set pager_stop = yes # don't go to next message automatically
set tilde = yes # show tildes like in vim
set reflow_wrap = -105 # Account for sidebar width issue

color tilde green default
color attachment brightmagenta default
color quoted blue default
color signature	cyan default


# Links and email address colours
color body brightblue default  "((http|https|ftp|gopher)[.:][^< >\"\t]*|www\.[-a-z0-9.]+)[^ \t.,;>\"<\):]"
color body brightblue default "[-a-z0-9._+]+@[-a-z0-9._]+"

# Headers
ignore *
unignore from date subject to cc bcc
hdr_order Date: From: To: Cc: Bcc: Subject:
color hdrdefault default default
color header brightblue default "^Subject:"
color header blue default "^Date:"

# File Types
set mailcap_path = $my_conf/mailcap.rc
auto_view text/html text/calendar
alternative_order text/plain text/enriched text/html text/calendar

