* {
    border: none;
    border-radius: 0;
    font-family: 'Firacode Nerd Font';
    font-size: 14px;
}

window {
  background: none;
}


/* WORKPLACES */

#workspaces button {
    color: grey;
    background: none;
}

button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

#workspaces button.special {
  margin-left: 40px;
}

#workspaces button.active {
  color: white;
}

#workspaces button.urgent {
  border-radius: 5px;
  animation-name: urgent-blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes urgent-blink {
    to {
        background: orange;
    }
}

/* ZONES */

.modules-center {
  background: none;
  border: none;
  font-weight: bold;
}

.modules-center, .modules-right {
  padding: 0;
  margin: 10px;
  color: white;
}

.modules-right, .modules-left {
  border: 1px solid #595959;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background: rgba(17, 17, 17, 0.7);
  box-shadow: 1px 1px 5px black;
}

/* RIGHT */

.modules-right > * > * {
  margin: 5px;
}

#battery.charging {
    color: #26A65B;
}

@keyframes blink {
    to {
        color: red;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: none;
}

#network {
    color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
    color: yellow;
}
