# vim: set syntax=muttrc:

# Sidebar
bind pager,index <S-Up> sidebar-prev
bind pager,index <S-Down> sidebar-next
bind pager,index <S-Right> sidebar-open

# Search
bind pager,index S vfolder-from-query

# Archive
macro index A "<modify-labels-then-hide>-inbox +archive\n" \
    "Archive Email"
macro pager A "qA" "Archive Mail"

# View HTML in Chrome
macro attach 'V' "|cat >/tmp/mail.html && \
chromium /tmp/mail.html && \
rm /tmp/mail.html\n"
macro pager 'V' "v<search>text/html<enter>V"

# Add sender to list of allowed
macro index,pager = "|cat >/tmp/mail && \
~/.dotfiles/sbin/mail/add_rule /tmp/mail && \
rm /tmp/mail\n\
<modify-labels>-to-closed-new -to-closed-bad +to-closed\n" \
    "Allow Email Address"

# Show the URL selection window
macro index,pager \cb ":set pipe_decode=yes\n\
|~/.dotfiles/sbin/mail/links\n\
:unset pipe_decode\n" \
    "View URLs"
