# vim: set syntax=muttrc:

# Sidebar
bind pager,index <S-Up> sidebar-prev
bind pager,index <S-Down> sidebar-next
bind pager,index <S-Right> sidebar-open

# Search
macro pager,index S "<vfolder-from-query>not:tag:private and " "Search"

# Archive
macro index A "s=Archive\ny" \
    "Archive Email"
macro pager A "qA" "Archive Mail"

# View HTML in Chrome
macro attach 'V' "|cat >/tmp/mail.html && chromium /tmp/mail.html\n"
macro pager 'V' "v<search>text/html<enter>V"

# Show the URL selection window
macro index,pager \cb ":set pipe_decode=yes\n\
|~/.dotfiles/sbin/mail/links\n\
:unset pipe_decode\n" \
    "View URLs"
