
macro index <F8> \
    "<shell-escape>notmuch-mutt -o /tmp/mutt -r -p search<enter>\
    <change-folder-readonly>/tmp/mutt<enter>" \
            "notmuch: search mail"

macro index <F9> \
    "<pipe-message>notmuch-mutt -o /tmp/mutt -r thread<enter>\
    <change-folder-readonly>/tmp/mutt<enter>" \
            "notmuch: reconstruct thread"

macro index T \
    "<pipe-message>notmuch-mutt tag -- " \
            "notmuch: Tag"

macro index A "T-inbox<enter>d" "notmuch: Remove from Inbox"
macro index R "T-unread<enter>" "notmuch: Mark as read"

macro index <Return> "R<display-message>" "display a message"
