# vim: set syntax=muttrc:

set nm_default_uri    = "notmuch:///home/emily/Private/mail"
set virtual_spoolfile = yes
virtual-mailboxes \
    "INBOX"     "notmuch://?query=tag:inbox" \
    "Unread"    "notmuch://?query=tag:unread" \
    "Starred"   "notmuch://?query=tag:*" \
    "Private"   "notmuch://?query=tag:private" \
    "Sent"      "notmuch://?query=tag:sent" \
    "Junk"      "notmuch://?query=tag:junk" \
    "Archived"  "notmuch://?query=tag:archive"

bind pager,index <S-Up> sidebar-prev
bind pager,index <S-Down> sidebar-next
bind pager,index <S-Right> sidebar-open
bind pager,index S vfolder-from-query

macro pager,index T \
    "| ~/.dotfiles/sbin/thread_from_mail > /tmp/thread\n\
    :push <vfolder-from-query>\`cat /tmp/thread\`\n\n"\
    "Reconstruct Thread"

macro index A "<modify-labels-then-hide>-inbox +archive<enter>" "Archive Email"
